.hide {
  display: 'none';
}
.show {
  display: 'block';
}
.selected {
  color: red;
}
.flex-contianer {
  display: flex;
  flex-direction: row;
}
span {
  font-size: medium;
  font-weight: 300;
}
.chartControl {
  font-size: medium;
  font-weight: 300;
  flex-grow: 1;
  /* width: 20%; */
  background-color: whitesmoke;
}
